<% content_for(:page_title, "Log in") %>
<section class="section">
  <div class="container">
    <div class="title is-1 has-text-centered">Log in</div>

    <%= form_for(:session, url: login_path) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
          <%= f.email_field :email, class: "input" %>
        </div>
      </div>
    
      <div class="field">
        <%= f.label :password, class: 'label' %>
        <div class="control">
          <%= f.password_field :password, class: "input" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Log in", class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</section>