<div class="card job-card">
  <header class="card-header">
    <div class="card-header-title">
      <%= job.title.capitalize %>
    </div>
  </header>

  <div class="card-content">
    <div class="content is-small">
      <%= job.description %>
      <br>
      <p>Posted <%= time_ago_in_words(job.created_at) %> ago.</p>
    </div>
  </div>

  <footer class="card-footer">
    <%= link_to 'View', job_path(job), class: "card-footer-item" %>
    <a class="card-footer-item">Edit</a>
    <%= link_to 'Delete', job, method: :delete, data: { confirm: "Are you sure?"}, class: "card-footer-item" %>
  </footer>
</div>