<% content_for(:page_title, 'All Jobs') %>
<% content_for(:jobs_toggle, true) %>
<section class="section">
  <div class="columns">
    <div class="column is-2-tablet is-3-desktop is-2-widescreen">
      <%= render 'layouts/sidebar' %>
    </div>
  
    <div class="column">
      <h1 class="title">Jobs</h1>
  
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
            <strong><%= Job.count %></strong> Jobs Posted
            </p>
          </div> <!-- Level item -->
  
          <p class="level-item">
            <%= link_to 'New', new_job_path, class: "button is-success" %>
          </p> <!-- Level item -->
  
          <div class="level-item is-hidden-tablet-only">
            <div class="field has-addons">
              <p class="control"><input type="text" class="input" placeholder="Job title . . ."></p>
              <p class="control"><button class="button">Search</button></p>
            </div>
          </div> <!-- Level item -->
        </div> <!-- Level left -->
  
        <div class="level-right">
          <div class="level-item">
            Order by
          </div>
          <div class="level-item">
            <div class="select">
              <select>
                <option>Name</option>
                <option>Date joined</option>
                <option>Number of jobs</option>
              </select>
            </div>
          </div>
        </div>
      </nav> <!-- Level -->
      <div class="columns is-multiline">
        <%= render @jobs do |job| %>
          <div class="column is-12-tablet is-8-desktop is-6-widescreen">
            <%= job %>
          </div>
        <% end %>
      </div>

    </div> <!-- Column -->
  </div>
</section>