<tr>
  <td><input type="checkbox"></td>
  <td>
  	<%= link_to user.name, user %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>Yiga</td>
  <td><%= user.jobs.count %></td>
  <td>
    <div class="buttons">
      <% if current_user?(user) %>
        <%= link_to 'Edit', edit_user_path(user), class: "button is-small" %>
      <% end %>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure?"}, class: "button is-small" %>
      <% end %>
    </div>
  </td>
</tr>