<% content_for(:page_title, 'Welcome!')%>
<div class="section">
  <div class="container">
    <div class="title is-1 text-is-centered">Sign up</div>

    <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.label :name, class: 'label' %>
        <div class="control">
          <%= f.text_field :name, class: 'input', placeholder: "e.g. Hattori Hanzo" %>
        </div>
      </div>
    
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
          <%= f.email_field :email, class: 'input', placeholder: "e.g. hattori.hanzo@iga.com" %>
        </div>
      </div>
    
      <div class="field">
        <%= f.label :password, class: 'label' %>
        <div class="control">
          <%= f.password_field :password, class: 'input' %>
        </div>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation", class: 'label' %>
        <div class="control">
          <%= f.password_field :password_confirmation, class: 'input' %>
        </div>
      </div>
    
      <div class="field">
        <div class="control">
          <%= f.submit "Create my account", class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>